# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# PyCharm files
.idea/

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*

# Environments
.env
.venv
env/
venv/

